[submodule "libcork"]
	path = libcork
	url = https://github.com/shadowsocks/libcork.git
    ignore = dirty
[submodule "libipset"]
	path = libipset
	url = https://github.com/shadowsocks/ipset.git
    ignore = dirty
[submodule "libbloom"]
	path = libbloom
	url = https://github.com/shadowsocks/libbloom.git
    ignore = dirty
