<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.shadowsocks.plugin">
    <application
        android:theme="@style/Theme.Shadowsocks">
        <meta-data android:name="com.github.shadowsocks.plugin.version"
                   android:value="1.3.4"/>
    </application>
</manifest>
