### These files should get ignored no matter where they appear.

# Editors leave these lying around
\#*\#
.#*
*~
*.swp

# C stuff
*.o

# Windows stuff
*.obj
*.exe
*.lib

# Patch leaves these lying arround
*.orig
*.rej

# gcov stuff
*.gcno
*.gcov
*.gcda

# gdb stuff
.gdb_history

# Autotools stuff
.deps
.dirstamp
Makefile
Makefile.in

# Libtool stuff
.libs
*.lo
*.la

# ctags stuff
TAGS
tags

# cscope stuff
cscope*

# Stuff made by our makefiles
*.pc
*.log
*.trs

## The initial / makes these files only get ignored in particular directories.
/autom4te.cache

# configure in progress
/.cyg*
/confdefs.*
/conftest.*

# Libtool adds these, at least sometimes
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/aclocal.m4
/compile
/doxygen
/config.cache
/config.guess
/config.log
/config.status
/config.sub
/configure
/configure.lineno
/depcomp
/config.h.in
/install-sh
/libtool
/ltmain.sh
/missing
/stamp-h1
/stamp-h2

/sample/dns-example
/sample/event-read-fifo
/sample/hello-world
/sample/http-server
/sample/http-connect
/sample/le-proxy
/sample/https-client
/sample/signal-test
/sample/time-test
/sample/event-test

/test-driver
/test/bench
/test/bench_cascade
/test/bench_http
/test/bench_httpclient
/test/regress
/test/regress.gen.c
/test/regress.gen.h
/test/rpcgen-attempted
/test/test-dumpevents
/test/test-eof
/test/test-closed
/test/test-init
/test/test-ratelim
/test/test-script.sh
/test/test-time
/test/test-weof
/test/test-changelist
/test/test-fdleak


# Files generated by cmake
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/DartConfiguration.tcl
/LibeventConfig.cmake
/LibeventConfigVersion.cmake
/LibeventTargets.cmake
/bin/
/cmake_install.cmake
/include/evconfig-private.h
/lib/
/tmp/
/verify_tests.sh
/verify_tests.bat
/event.dir
/event_core.dir
/event_extra.dir
*.vcxproj
*.sln
*.filters

# make dist
/COPYING
/INSTALL
/*.tar.gz

/.vagrant
