@import url("basic.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: 'Palatino Linotype', Palatino, 'URW Palladio L', 'Book Antiqua', FreeSerif, serif;
    /*font-size: 95%;*/
    font-size: 95%;
    color: #252519;
    margin: 0;
    padding: 0;
}

div.document {
}

div.documentwrapper {
    float: left;
    width: 100%;
}

div.bodywrapper {
    margin: 0 0 0 19em;
    background-color: #ffffff;
}

div.body {
    color: #252519;
    padding: 30px 0px 30px 60px;
    width: 40em;
}

div.footer {
    width: 100%;
    padding: 9px 0 9px 0;
    text-align: center;
    font-size: 75%;
}

div.footer a {
    color: #261a3b;
    text-decoration: underline;
}

div.related {
    background-color: #eee;
    border: 1px solid #ccc;
    line-height: 30px;
}

div.related a {
    color: #261a3b;
}

div.sphinxsidebar {
    padding: 30px 0px 0 20px;
    width: 19em;
    color: #555;
}

div.sphinxsidebar a {
    color: #555;
}

div.sphinxsidebar h3 {
    font-size: 1.4em;
    margin: 0;
    padding: 0;
}

div.sphinxsidebar h4 {
    font-size: 1.3em;
    margin: 5px 0 0 0;
    padding: 0;
}

div.sphinxsidebar p {
}

div.sphinxsidebar p.topless {
    margin: 5px 10px 10px 10px;
}

div.sphinxsidebar ul {
    margin: 10px;
    padding: 0;
    color: #ffffff;
}

div.sphinxsidebar li {
    padding-top: 5px;
    line-height: 115%;
}

div.sphinxsidebar input {
    border: 1px solid #ccc;
    font-family: sans-serif;
    font-size: 1em;
}



/* -- hyperlink styles ------------------------------------------------------ */

a {
    color: #306060;
    text-decoration: none;
}

a:visited {
    color: #306060;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



/* -- body styles ----------------------------------------------------------- */

div.body h1,
div.body h2 {
    border-top: 1px solid #ccc;
    margin: 40px -20px 10px -20px;
    padding: 3px 0 3px 0;
}

div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    margin: 20px 0px -10px 0px;
}

div.body h1 { margin-top: 0; font-size: 200%; border: 0px; }
div.body h2 { font-size: 160%; }
div.body h3 { font-size: 140%; }
div.body h4 { font-size: 120%; }
div.body h5 { font-size: 110%; }
div.body h6 { font-size: 100%; }

a.headerlink {
    color: #c60f0f;
    font-size: 0.8em;
    padding: 0 4px 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    background-color: #c60f0f;
    color: white;
}

div.body p, div.body dd, div.body li {
    line-height: 130%;
}

p.admonition-title {
    margin-right: 0.3em;
}

div.admonition p.admonition-title + p {
    display: inline;
}

div.admonition p {
    margin-bottom: 5px;
}

div.admonition pre {
    margin-bottom: 5px;
}

div.admonition ul, div.admonition ol {
    margin-bottom: 5px;
}

div.note {
    background-color: #eee;
    border: 1px solid #ccc;
}

div.seealso {
    background-color: #ffc;
    border: 1px solid #ff6;
}

div.tip {
    background-color: #e4e4ff;
    border: 1px solid #ccc;
}

div.topic {
    background-color: #eee;
}

div.warning {
    background-color: #ffe4e4;
    border: 1px solid #f66;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

pre {
    font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    font-size: 80%;
    padding: 5px;
    background-color: #f5f5ff;
    color: #333333;
    line-height: 130%;
    border: 1px solid #e5e5ee;
    border-left: none;
    border-right: none;
}

tt {
    font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    background-color: #f8f8ff;
    border: 1px solid #dedede;
    padding: 0 0.2em;
    font-size: 85%;
}

a tt {
    background-color: transparent;
    border: 0px;
}

dt {
    font-family: Menlo, Monaco, Consolas, "Lucida Console", monospace;
    font-size: 90%;
    line-height: 130%;
}

table.indextable dt {
    font-family: 'Palatino Linotype', Palatino, 'URW Palladio L', 'Book Antiqua', FreeSerif, serif;
    font-size: 100%;
}

em.property {
    font-size: 90%;
}

tt.descclassname {
    background-color: transparent;
    border: 0px;
    padding: 0px;
}

tt.descname {
    background-color: transparent;
    border: 0px;
    font-size: 100%;
    padding: 0px;
}

dt big {
    font-family: 'Palatino Linotype', Palatino, 'URW Palladio L', 'Book Antiqua', FreeSerif, serif;
    font-size: 140%;
    padding: 0 2px;
}

dt big.param_start_brace {
    padding: 0 6px;
}

dt big.param_end_brace {
    padding: 0 6px;
}

dt span.optional {
    font-family: 'Palatino Linotype', Palatino, 'URW Palladio L', 'Book Antiqua', FreeSerif, serif;
    font-size: 140%;
    padding: 0 2px;
}

th {
    background-color: #ede;
}

.warning tt {
    background: #efc2c2;
}

.note tt {
    background: #d6d6d6;
}

.viewcode-back {
    font-family: sans-serif;
}

div.viewcode-block:target {
    background-color: #f4debf;
    border-top: 1px solid #ac9;
    border-bottom: 1px solid #ac9;
}
