<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.dozen.dpreference">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <provider
            android:name="me.dozen.dpreference.PreferenceProvider"
            android:enabled="true"
            android:authorities="jww.feed.fqnews.dpreference"
            android:exported="false" />

    </application>

</manifest>
